*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 5%;
    font-family: arial ;
    font-size: 50px;
    
}
table{
    background-color: #cbd8df;
    border-radius: 15px;
    padding: 20px;
    height: 100%;
    border: 5px solid rgb(44, 87, 122);
    
    
}
.boton1{
    font-size: 35px;
    margin: center;
    margin-left: 10px;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    border: 5px solid #687474;
    border: 8px outset;
    margin-bottom: 20px;
}
input{
    margin-top: 5%;
    width: 400px;
    height: 80px;
    border: 30px solid #7394aa;
    border-radius: 12px;
    font-size: 50px;
    background-color: white;
    margin-bottom: 20px;
    text-align: right;
}
button{
    padding: 10px;
}

.color{
    background-color: rgb(223, 203, 177);
}
